/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
.parcel-cache
dist
min
test
!test/test_main.py
test_tmp
result*
!prod
prod/index.js